[submodule "source/android-ndk-gif"]
	path = source/android-ndk-gif
	url = https://github.com/waynejo/android-ndk-gif
[submodule "source/UIImage-Conversion"]
	path = source/UIImage-Conversion
	url = https://github.com/PaulSolt/UIImage-Conversion
[submodule "contrib/UIImage-Conversion"]
	path = contrib/UIImage-Conversion
	url = https://github.com/PaulSolt/UIImage-Conversion
